html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

body {
    height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

#mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

#mainDiv > p {
    margin: 0.1em;
}


#wordListSettingsLabel {
    margin-top: 2em;
    margin-bottom: 1em;
}


.wrong {
    color: red;
}

audio {
    width: 20%
}

p, input, label, button { 
    font-size: 1.5em;
}

#playWord {
    font-family: 'Times New Roman', Times, serif;
    margin: 1em;
}

form > input {
    width: 0.75em;
    height: 0.75em;
}

#wordListSettingsDiv, #trainingSettingsDiv {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

#structure {
    flex-direction: column;
    display: contents;
}

#footer {
    background-color: rgb(43, 47, 255);
    width: 100%;
    height: max-content;
    padding: 1%;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    flex: 0 1 40px;
    position:absolute;
    bottom: 0%;
}